@import "tailwindcss";

/* * {
  outline: 1px solid blue;
} */

@theme {
  --color-bright-primary: oklch(0.5014 0.1834 25.39);

  --color-primary: oklch(0.4184 0.1516 25.44);
  --color-secondary: oklch(0.3 0.1516 25.44);
  --color-accent: oklch(0.8353 0.1731 85.85);
  --color-text: oklch(0.235 0 0);
  --color-gray-text: oklch(0.7517 0.0057 17.28);
}

:root {
  --background: #FEFFFE;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* Swiper Pagination Bullets */
.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: #ccc;
  opacity: 1;
  transition: width 0.2s ease !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-primary) !important;
  width: 20px !important;
  border-radius: 2rem !important;
  transition: width 0.2s ease !important;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.landing-image-clip-path {
  clip-path: polygon(9% 0, 0 100%, 100% 100%, 100% 0%)
}